{% extends "layout.html" %}
{% block content %}
	<div class="container">
		<h2>About</h2>
		<p class="about-info">- I am currently a sophomore in high school who started coding around midway through freshman year.</p>
		<br>
		<p class="about-info">- I have a strong focus on Machine Learning but also am delving into areas such as web development (as you can see :O) and competitive programming</p>
		<br>
		<p class="about-info">- At school, I created a club to arrange hackathons between some of the high schools. The organization is known as IndianaHax, and I am currently planning a hackathon for next fall (if we don't all die from the current pandemic)</p>
		<p style="text-indent: 25px"><a href="https://indianahax.org" target="_blank" class="in-hax">- Here is the website my friend made for it</a></p>
		<br>
		<p class="about-info">- Other than coding, I play violin, video games, and basketball (for fun, not on a team). Also, I can cook pretty well (by that, I mean making grilled cheese). More info in the "Other" section, if you really care.</p>
		<br>
		<h2 style="">Check me out at...</h2>
			<div class="img-txt">
				<p><a href="mailto:cgeraldfarber@icloud.com" target="_blank"><i class="far fa-envelope"></i>cgeraldfarber@icloud.com</a></p>
			</div>
			<div class="img-txt">
				<p><a href="https://www.linkedin.com/in/chris-farber-ba90181a4/" target="_blank"><i class="fab fa-linkedin"></i>LinkedIn</a></p>
			</div>
			<div class="img-txt">
				<p><a href="https://github.com/farbs03" target="_blank"><i class="fab fa-github-square"></i>GitHub</a></p>
			</div>
	</div>
{% endblock content %}