{% extends "layout.html" %}
{% block content %}
	<div class="container">
		<h2>My Projects</h2>
		<p style="font-size: 16px">Machine learning, websites, maybe both :O</p>
		<p style="font-size: 16px">If you would like to see some more projects, refer to my github link in the "About/Contact" section</p>
		<ul class="projects">
			<li><a href="https://github.com/farbs03/personal_website" target="_blank">This Website</a></li>
			<p style="font-size: 16px">-See homepage for more info</p>
			<li><a href="#">Kurricula</a></li>
			<p style="font-size: 16px">- Kurricula is essentially a website where students can browse courses from their school and either leave a rating on the course or look at others' ratings to gauge if it's the right course for them.</p>
			<li><a href="https://github.com/farbs03/mnist_classification" target="_blank">MNIST Handwritten Digit Classification</a></li>
			<p style="font-size: 16px">- Some call this the "Hello, World!" project of machine learning, or an introduction to it. Essentially, this takes thousands of images of handwritten digits from the MNIST database, and trains a model to be able to predict what number a handwritten digit represents if it were given one in the future.</p>
			<li><a href="#">Coronavirus Challenge</a></li>
			<p style="font-size: 16px">- To be determined...</p>
		</ul>
	</div>
{% endblock content %}