{% extends "layout.html" %}
{% block content %}
	<div class="container">
		<h2>Useful Resources</h2>
		<h3>Here are some resources I have found very helpful while learning how to code</h3>
		<p style="font-size: 16px">*For the 2 coursera courses I link below, audit them to get them for free*</p>
		<div>
			<h3>Python:</h3>
			<ul class="useful">
				<li><a href="https://www.coursera.org/learn/python?" target="_blank">Coursera: Programming For Everybody</a></li>
				<li><a href="https://www.youtube.com/watch?v=_uQrJ0TkZlc&t=18189s" target="_blank">Programming With Mosh</a></li>
				<li><a href="https://www.codecademy.com/learn/learn-python-3" target="_blank">Codeacademy</a></li>
			</ul>
		</div>
		<div>
			<h3>Machine Learning:</h3>
			<ul class="useful">
				<li><a href="https://www.youtube.com/watch?v=aircAruvnKk&list=PLZHQObOWTQDNU6R1_67000Dx_ZCJB-3pi" target="_blank">3Blue1Brown's Neural Network Series</a></li>
				<li><a href="https://towardsdatascience.com/image-classification-in-10-minutes-with-mnist-dataset-54c35b77a38d" target="_blank">Towards Data Science Tutorials (this one was pretty solid)</a></li>
				<li><a href="https://pandas.pydata.org/" target="_blank">Pandas</a></li>
				<li><a href="https://numpy.org/" target="_blank">Numpy</a></li>
				<li><a href="https://www.coursera.org/learn/machine-learning?" target="_blank">Coursera: Stanford's Machine Learning Course</a></li>
				<li><a href="http://course18.fast.ai/ml" target="_blank">fast.ai: Deep Learning for Everyone Course</a></li>
			</ul>
		</div>
		<div>
			<h3>Web Development:</h3>
			<p style="font-size: 16px">*Note, I learned python frameworks for web dev, not js frameworks*</p>
			<ul class="useful">
				<li><a href="https://www.w3schools.com/" target="_blank">W3 Schools HTML, CSS, and Bootstrap Tutorials</a></li>
				<li><a href="https://www.youtube.com/watch?v=MwZwr5Tvyxo" target="_blank">Flask tutorial by Corey Schafer</a></li>
				<li><a href="https://www.youtube.com/watch?v=_uQrJ0TkZlc&t=18189s" target="_blank">Programming With Mosh (he provides a django tutorial in same video linked earlier)</a></li>
				<li><a href="https://www.google.com/" target="_blank">The internet in general</a></li>
			</ul>
		</div>
		<div>
			<h3>Competitive Programming:</h3>
			<ul class="useful">
				<li><a href="https://leetcode.com/" target="_blank">Leetcode</a></li>
				<li><a href="https://train.usaco.org/usacogate" target="_blank">USACO's training page</a></li>
				<li><a href="https://projecteuler.net/archives" target="_blank">Project Euler</a></li>
				<li><a href="https://coderbyte.com/" target="_blank">Coderbyte</a></li>
			</ul>
		</div>
	</div>
{% endblock %}